body{
  font-family: Verdana;
  background-color: black;
  text-align: center;
  color: white;
}

h1{
  font-weight: normal;
  font-size: 50 px;
}

cta{
  color: aquamarine;
  font-size: 16 px;
}
p{
  color: gray;
  font-size: 21 px;
}
h2{
  font-weight: 300;
  font-size: 42 px;
}

.footer{
  text-align: right;
  color: gray;
}
